@using EModernHouse.Application.Utils
@model EModernHouse.DataLayer.Entities.Product.Product
<div class="product-card">
    <div class="product-card-top">
        <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@Model.Id" asp-route-title="@Model.Title.FixTextForUrl()" class="product-image">
            <img src="@(PathExtensions.ProductImageThumb+Model.ImageName)" alt="@Model.Title">
        </a>
        <div class="product-card-actions">
            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
            
        </div>
    </div>
    <div class="product-card-middle">
        <div class="ratings-container">
            <div class="ratings">
                
            </div>
        </div>
        <h6 class="product-name"> 
            <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@Model.Id" asp-route-title="@Model.Title.FixTextForUrl()" class="product-image">
                @Model.Title
            </a>
        </h6>
        <div class="product-price product-price-clone">@Model.Price.ToString("#,0 تومان")</div>
    </div>
    <div class="product-card-bottom">
        <div class="product-price">
            @Model.Price.ToString("#,0 تومان")
        </div>
        <a href="#" class="btn-add-to-cart">
            <i class="fad fa-cart-plus"></i>
            افزودن به سبد خرید
        </a>
    </div>
</div>