@using EModernHouse.DataLayer.Entities.Product
@using System.Data.Common
@model EModernHouse.DataLayer.DTOs.Product.CreateProductDTO
@{
    ViewData["Title"] = "افزودن محصول جدید";
    var categories = ViewBag.MainCategories as List<ProductCategory>;
}


<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="row">
        <form asp-area="Admin" asp-controller="Product" asp-action="CreateProduct" id="form_Product" method="post" enctype="multipart/form-data">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">@ViewData["Title"]</span>
                    </div>
                    <div class="widget-body">
                        <div>

                            <div class="form-group">
                                <label>نام محصول</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label>توضیح مختصر محصول</label>
                                <textarea type="text" rows="10" class="form-control" asp-for="ShortDescription"></textarea>
                                <span class="text-danger" asp-validation-for="ShortDescription"></span>
                            </div>
                            <div class="form-group">
                                <label>تو ضیح کامل محصول</label>
                                <textarea class="form-control" rows="10" ckeditor="1" asp-for="Description"></textarea>
                                <span class="text-danger" asp-validation-for="ShortDescription"></span>
                            </div>
                            <div class="form-group">
                                <label>قیمت محصول</label>
                                <input type="text" class="form-control" asp-for="Price">
                            </div>


                            <hr />
                            <div class="form-group">
                                <h4>رنگ محصول</h4>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="product-color-names-input" placeholder="دور گل ابی" />
                                    <br />
                                    <input type="text" class="form-control" id="product-color-code-input" placeholder="کد رنگ مثلا : #45d" />
                                    <br />
                                    <input type="number" class="form-control" id="product-color-price-input" placeholder="قیمت  از صفر تا یک عددی" />
                                </div>
                                <button class="btn btn-success" id="btn-add-colors">افزودن رنگ</button>
                            </div>
                            <br />
                            <div class="form-group">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>نام رنگ</th>
                                            <th>کد رنگ</th>
                                            <th>قیمت رنگ</th>
                                            <th>دستورات</th>
                                        </tr>
                                    </thead>
                                    <tbody id="list-of-product-colors">
                                    </tbody>
                                </table>
                            </div>
                            <hr />

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="colored-success" asp-for="IsActive">
                                        <span class="text">محصول فعال / غیر فعال</span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-blue">ثبت محصول</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">انتخاب عکس محصول</span>
                            </div>
                            <div class="widget-body">

                                <div class="card text-center">
                                    <div class="card-header">
                                        تغییر آواتار
                                    </div>
                                    <div class="card-body">
                                        <img id="imgPreviewProduct" class="img-thumbnail ImagePreviwe_Editprofile" src="" />
                                    </div>
                                    <div class="card-footer text-muted">
                                        <label for="imageProduct" id="lable-Upload-Avatar" class="btn-upload">انتخاب عکس</label>
                                        <input type="file" name="productImage" accept=".png,.jpg,.jpeg" id="imageProduct" class="input_Upload_file_Editprofile" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">انتخاب گروه محصول</span>
                            </div>
                            <div class="widget-body">
                                <div class="alert alert-danger">
                                    محصول نمی توان بدون گروه باشد
                                </div>
                                <div class="alert alert-warning">
                                    در انتخاب گروه محصول دقت شود
                                </div>
                                @if (categories != null && categories.Any())
                                {

                                    @foreach (var group in categories.Where(s => s.ParentId == null))
                                    {

                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input main_categories_checkbox="@group.Id" type="checkbox" name="@nameof(Model.SelectedCategories)" value="@group.Id" />
                                                    <span class="text">@group.Title | 1</span>
                                                </label>
                                            </div>
                                        </div>

                                        if (categories.Any(s => s.ParentId == group.Id))
                                        {

                                            <div id="firs-parent-categories-@group.Id" style="display: none">
                                                @foreach (var subGroup in categories.Where(s => s.ParentId == group.Id))
                                                {
                                                    <div class="form-group">
                                                        <div class="checkbox" style="margin-right: 20px">
                                                            <label>
                                                                <input firs-parent-category="@subGroup.Id" firs-parent-category1="@group.Id" type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subGroup.Id" />
                                                                <span class="text">@subGroup.Title | 2</span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    @if (categories.Any(s => s.ParentId == subGroup.Id))
                                                    {
                                                        <div id="last-categories-@subGroup.Id" style="display: none">
                                                            @foreach (var lastGroup in categories.Where(s => s.ParentId == subGroup.Id))
                                                            {
                                                                <div class="form-group">
                                                                    <div class="checkbox" style="margin-right: 30px!important">
                                                                        <label>
                                                                            <input two-parent-categories="@subGroup.Id" type="checkbox" name="@nameof(Model.SelectedCategories)" value="@lastGroup.Id" />
                                                                            <span class="text">@lastGroup.Title | 3</span>

                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }

                                                }

                                            </div>
                                        }
                                        <hr />
                                    }

                                }
                                else
                                {
                                    <p class="text-danger">شما هیچ گروهی ثبت نکرده اید</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
@section script
{
    <partial name="_JqueryValidator"/>
    <script src="~/js/ChangeImage.js"></script>
    <script src="~/Admin/js/ForCategoriesInAdmin.js"></script>
    <script>
        $('#btn-add-colors').on('click',
            function(e) {
                e.preventDefault();
                var colorName = $('#product-color-names-input').val();
                var colorCodes = $('#product-color-code-input').val();
                var colorPrice = $('#product-color-price-input').val();
                var indexTable = ($('#list-of-product-colors tr')).length;
                // create input hidden
                var input_ColorName = `<input type="hidden" value="${colorName}" name="ProductColor[${indexTable}].ColorName"/>`;
                var input_ColorCode = `<input type="hidden" value="${colorCodes}" name="ProductColor[${indexTable}].ColorCode"/>`;
                var input_ColorPrice = `<input type="hidden" value="${colorPrice}" name="ProductColor[${indexTable}].Price"/>`;
                // send to form
                var formProduct = $('#form_Product');
                formProduct.append(input_ColorName);
                formProduct.append(input_ColorCode);
                formProduct.append(input_ColorPrice);

                //create td for table

                var ColorNameTBL = `<td>${colorName}</td>`;
                var ColorCodeTBL = `<td style="background:${colorCodes};color:#fff">${colorCodes}</td>`;
                var ColorPriceTBL = `<td>${colorPrice}</td>`;
                var InsertToTBL = `<tr>${ColorNameTBL} ${ColorCodeTBL} ${ColorPriceTBL}</tr>`;
                $('#list-of-product-colors').append(InsertToTBL);

            });
    </script>
}

