@using EModernHouse.DataLayer.Entities.Product
@using System.Data.Common
@model EModernHouse.DataLayer.DTOs.Product.CreateProductDTO
@{
    ViewData["Title"] = "افزودن محصول جدید";
    var categories = ViewBag.MainCategories as List<ProductCategory>;
}


<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="row">
        <form asp-area="Admin" asp-controller="Product" asp-action="CreateProduct" id="form_Product" method="post" enctype="multipart/form-data">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">@ViewData["Title"]</span>
                    </div>
                    <div class="widget-body">
                        <div>

                            <div class="form-group">
                                <label>نام محصول</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label>توضیح مختصر محصول</label>
                                <textarea type="text" rows="10" class="form-control" asp-for="ShortDescription"></textarea>
                                <span class="text-danger" asp-validation-for="ShortDescription"></span>
                            </div>
                            <div class="form-group">
                                <label>تو ضیح کامل محصول</label>
                                <textarea class="form-control" rows="10" ckeditor="1" asp-for="Description"></textarea>
                                <span class="text-danger" asp-validation-for="ShortDescription"></span>
                            </div>
                            <div class="form-group">
                                <label>قیمت محصول</label>
                                <input type="text" class="form-control" asp-for="Price">
                            </div>


                            <hr />
                            <br />
                            
                            <hr />

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="colored-success" asp-for="IsActive">
                                        <span class="text">محصول فعال / غیر فعال</span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-blue">ثبت محصول</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">انتخاب عکس محصول</span>
                            </div>
                            <div class="widget-body">

                                <div class="card text-center">
                                    <div class="card-header">
                                       تصویر محصول
                                    </div>
                                    <div class="card-body">
                                        <img id="imgPreviewProduct" class="img-thumbnail ImagePreviwe_Editprofile" src="" />
                                    </div>
                                    <div class="card-footer text-muted">
                                        <label for="imageProduct" id="lable-Upload-Avatar" class="btn-upload">انتخاب عکس</label>
                                        <input type="file" name="productImage" accept=".png,.jpg,.jpeg" id="imageProduct" class="input_Upload_file_Editprofile" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">انتخاب گروه محصول</span>
                            </div>
                            <div class="widget-body">
                                <div class="alert alert-danger">
                                    محصول نمی توان بدون گروه باشد
                                </div>
                                <div class="alert alert-warning">
                                    در انتخاب گروه محصول دقت شود
                                </div>
                                @if (categories != null && categories.Any())
                                {

                                    @foreach (var group in categories.Where(s => s.ParentId == null))
                                    {

                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input main_categories_checkbox="@group.Id" type="checkbox" name="@nameof(Model.SelectedCategories)" value="@group.Id" />
                                                    <span class="text">@group.Title | 1</span>
                                                </label>
                                            </div>
                                        </div>

                                        if (categories.Any(s => s.ParentId == group.Id))
                                        {

                                            <div id="firs-parent-categories-@group.Id" style="display: none">
                                                @foreach (var subGroup in categories.Where(s => s.ParentId == group.Id))
                                                {
                                                    <div class="form-group">
                                                        <div class="checkbox" style="margin-right: 20px">
                                                            <label>
                                                                <input firs-parent-category="@subGroup.Id" firs-parent-category1="@group.Id" type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subGroup.Id" />
                                                                <span class="text">@subGroup.Title | 2</span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    @if (categories.Any(s => s.ParentId == subGroup.Id))
                                                    {
                                                        <div id="last-categories-@subGroup.Id" style="display: none">
                                                            @foreach (var lastGroup in categories.Where(s => s.ParentId == subGroup.Id))
                                                            {
                                                                <div class="form-group">
                                                                    <div class="checkbox" style="margin-right: 30px!important">
                                                                        <label>
                                                                            <input two-parent-categories="@subGroup.Id" type="checkbox" name="@nameof(Model.SelectedCategories)" value="@lastGroup.Id" />
                                                                            <span class="text">@lastGroup.Title | 3</span>

                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }

                                                }

                                            </div>
                                        }
                                        <hr />
                                    }

                                }
                                else
                                {
                                    <p class="text-danger">شما هیچ گروهی ثبت نکرده اید</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
@section script
{
    <partial name="_JqueryValidator"/>
    <script src="~/js/ChangeImage.js"></script>
    

}

