@using EModernHouse.Application.Utils
@model Tuple<List<EModernHouse.DataLayer.Entities.Product.Product>, int>
@{
    ViewData["Title"] = "لیست محصولات";
}


<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header">
            <div class="header bordered-sky">
                جست و جو کردن
            </div>
            <div class="row">

                <form id="FormFilterUSer">
                    <input type="hidden" name="pageId" id="PageId" value="@ViewBag.PageId" />
                    <div class="col-md-12 col-sm-12">
                        <label>نام محصول</label>
                        <input type="text" name="productName" class="form-control" value="@ViewBag.ProducrName" />
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>تعداد نمایش در هر صفحه</label>
                        <input class="form-control" type="number" min="1" max="20" name="take" value="@ViewBag.Take" />
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <br />
                        <button onclick="SendPage(ViewBag.pageId)" class="btn btn-primary mt-4">جست و جو</button>
                    </div>

                </form>
            </div>
        </div>


    </div>
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-sky">
                @ViewData["Title"] ___
                نتیجه های یافت شده  @(Model.Item1.Count()*Model.Item2)
            </div>
            @if (Model.Item1 != null && Model.Item1.Any())
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                شناسه محصول
                            </th>
                            <th>
                                تصویر محصول
                            </th>
                            <th>
                                نام محصول
                            </th>
                            <th>
                                قیمت محصول
                            </th>
                            <th>
                                موجودی در انبار
                            </th>
                            <th>
                                وضعیت کاربر
                            </th>
                            <th>
                                دستورات
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var product in Model.Item1)
                        {
                            <tr id="ajax-url-item-@product.Id">
                                <td>
                                    @product.Id
                                </td>
                                <td class="text-center">
                                    <img style="width: 80px;height: 80px" src="@(PathExtensions.ProductImageThumb + product.ImageName )" />
                                </td>
                                <td>
                                    @product.Title
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    این قابلیت در دسترس نمی باشد
                                </td>
                                <td class="@(product.IsActive ? "success" : "danger")">
                                    @(product.IsActive ? "فعال" : "غیر فعال")
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-area="Admin" asp-controller="Product" asp-action="EditProduct" asp-route-productId="@product.Id">ویرایش</a>
                                    <a class="btn btn-sm btn-info" asp-area="Admin" asp-controller="Product" asp-action="CreateProductGallery" asp-route-productId="@product.Id">افزودن گالری</a>
                                    <a class="btn btn-sm btn-primary" asp-area="Admin" asp-controller="Product" asp-action="CreateProductColor" asp-route-productId="@product.Id">رنگ محصول</a>
                                    <a class="btn btn-default btn-sm" asp-area="Admin" asp-controller="ProductFeature" asp-action="CreateProductFeature" asp-route-productId="@product.Id">ویژگی</a>
                                    <a class="btn btn-danger btn-sm">غیر فعال</a>
                                </td>
                            </tr>

                        }




                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    <p>اطلاعاتی یافت نشد</p>
                </div>
            }
            <br />
            <div class="dataTables_paginate paging_bootstrap text-center" id="simpledatatable_paginate">
                <ul class="pagination">
                    @if (ViewBag.pageId > 1)
                    {
                        <li class="prev"><a onclick="SendPage(@(ViewBag.pageId-1))">قبل</a></li>
                        <li><a onclick="SendPage(@(ViewBag.pageId-1))">@(ViewBag.pageId-1)</a></li>
                    }

                    <li class="active"><a href="#">@ViewBag.pageId</a></li>

                    @if (Model.Item2 > ViewBag.pageId)
                    {
                        <li onclick="SendPage(@(ViewBag.pageId+1))"><a>@(ViewBag.pageId+1)</a></li>
                        <li class="next"><a onclick="SendPage(@(ViewBag.pageId+1))">بعد</a></li>
                    }
                </ul>
            </div>
        </div>


    </div>
</div>

