@using EModernHouse.DataLayer.Entities.Product
@model EModernHouse.DataLayer.DTOs.Product.CreateProductFeatureDTO
@{
    ViewData["Title"] = "افزودن ویژگی محصول";
    var allFeatures = ViewBag.AllFeatures as List<ProductFeature>;
}



<form asp-area="Admin" asp-controller="ProductFeature" asp-action="CreateProductFeature" asp-route-productId="@ViewBag.productId" method="post">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">@ViewData["Title"]</span>
            </div>
            <div class="widget-body">
                <div>

                    <input type="hidden" asp-for="ProductId" value="@ViewBag.productId" />
                    <div class="form-group">
                        <label>عنوان</label>
                        <input class="form-control" asp-for="FeatureTitle">
                    </div>
                    <div class="form-group">
                        <label>مقدار</label>
                        <input class="form-control" asp-for="FeatureValue">
                    </div>


                    <button type="submit" class="btn btn-blue">ثبت</button>
                    <button class="btn btn-warning" asp-area="Admin" asp-controller="Product" asp-action="ProductList">باز گشت به لیست</button>
                </div>
            </div>
        </div>
    </div>

    
</form>
<br />
@if (allFeatures != null && allFeatures.Any())
{
    <div class="col-md-9 col-md-offset-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>ویژگی</th>
                    <th>دستورات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allFeature in allFeatures)
                {
                    <tr>
                        <td class="text-center">@allFeature.FeatureTitle</td>
                        <td class="text-center">@allFeature.FeatureValue</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-danger"
                               asp-area="Admin" asp-controller="ProductFeature" asp-action="DeleteProductFeatureById"
                               asp-route-featureId="@allFeature.Id" asp-route-productId="@allFeature.ProductId"
                               >حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            <p>هیچ ویژگی برای محصول ثبت نشده است</p>
        </div>
    </div>
}

