@using EModernHouse.Application.Utils
@model List<EModernHouse.DataLayer.Entities.Interest.ProductInterest>
@{
    ViewData["Title"] = "محصولات مورد علاقه";
}



<main class="page-content" style="margin-top: 235.5px; transform: none;">
    <div class="container" style="transform: none;">
        <div class="row mb-5" style="transform: none;">
            <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                @await Component.InvokeAsync("UserSideBar")

            </div>
            <div class="col-lg-9 col-md-8">
                <div class="section-title mb-2">
                    @ViewData["Title"]
                </div>
                <div class="shadow-around">
                    <div class="listing-items row">
                        @if (Model.Any() && Model != null)
                        {
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-6 px-0" id="product-Favorite-@product.Product.Id">
                                    <div class="product-card product-card-horizontal">
                                        <div class="product-card-top">
                                            <a href="" class="product-image">
                                                <img src="@(PathExtensions.ProductImageThumb + product.Product.ImageName)" alt="@product.Product.Title">
                                            </a>
                                            <div class="product-card-actions">
                                                <button class="add-to-wishlist added" onclick="RemoveProductInterest(@product.Product.Id)"><i class="fas fa-heart"></i></button>
                                            </div>
                                        </div>
                                        <div class="product-card-middle">
                                            <div class="ratings-container">
                                            
                                            </div>
                                            <h6 class="product-name">
                                                <a asp-area="" asp-controller="Product" asp-action="ProductDetail"
                                                   asp-route-productId="@product.Product.Id" asp-route-title="@product.Product.Title.FixTextForUrl()">
                                                   @product.Product.Title
                                                </a>
                                            </h6>
                                            <div class="product-price product-price-clone">@product.Product.Price.ToString("#,0")تومان </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                @product.Product.Price.ToString("#,0") تومان
                                            </div>
                                            <a asp-area="" asp-controller="Product" asp-action="ProductDetail"
                                               asp-route-productId="@product.Product.Id" asp-route-title="@product.Product.Title.FixTextForUrl()" class="btn-add-to-cart">
                                                <i class="fad fa-cart-plus"></i>
                                                مشاهده محصول
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <p>هیچ محصولی به علاقه مندی های شما اضافه نشده است</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>