@using EModernHouse.DataLayer.Entities.Account
@using EModernHouse.Web.PresentationExtentions

@{
    ViewData["Title"] = "داشبورد";
    var userAddresses = ViewData["userAddress"];
    var userInf = ViewBag.UserInformation as UserAddress;
}



<main class="page-content" style="margin-top: 235.5px; transform: none;">
    <div class="container" style="transform: none;">
        <div class="row mb-5" style="transform: none;">
            <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                @await Component.InvokeAsync("UserSideBar")

            </div>
            <div class="col-lg-9 col-md-8">
                <div class="section-title mb-2">
                    @ViewData["Title"]
                </div>
                <div class="checkout-section shadow-around">
                    <div class="checkout-section-content">
                        <div class="row mx-0 pl-3 pr-3">
                            @if ((bool)userAddresses)
                            {
                                <div class="col-md-12">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            آدرس
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@userInf.Address</h5>
                                            <p class="card-text">مرسولات شما به این آدرس ارسال می شود (لطفا در ثبت ادرس دقت فرمایید مرسولات شما به این ادس ارسال می شود)</p>
                                            <br />
                                            <a data-toggle="modal" data-target="#editmodal" class="btn btn-primary" editText="@userInf.Address">ویرایش آدرس</a>
                                        </div>

                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class=" col-md-12 alert alert-warning">
                                    <p>
                                        کاربرگرامی لطفا ادرس سکونت خود را برای ارسال مرسولات خود واد نمایید .
                                    </p>

                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        ثبت ادرس
                                    </button>
                                </div>
                            }


                        </div>
                        <div class="row mt-3 pl-4 pr-4">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">اطلاعات تماس</h5>
                                        <p class="card-text">@userInf.User.Mobile</p>
                                        @if (userInf.User.Email != null)
                                        {
                                            <p class="card-text">@userInf.User.Email</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">کامنت های شما در سایت</h5>
                                        <p class="card-text">این ویژگی به زودی به سایت اضافه خواهد شد</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<!-- Modal for create address -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ثبت ادرس</h5>
                <button type="button" onclick="closeAddress()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="User" asp-controller="Home" asp-action="CreateUserAddress">

                    <div class="form-group">
                        <label>آدرس را وارد کنید</label>
                        <textarea  name="address" class="form-control addAddress" placeholder="آدرس به صورت کامل نوشته شود هرگونه نقص در ادرس بر عهده کابر می باشد .."></textarea>
                    </div>

                    <br />
                    <button onclick="closeAddress()" type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت ادرس</button>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- Modal for edit address -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodalLabel">ویرایش آدرس</h5>
                <button type="button" onclick="closeAddress()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="User" asp-controller="Home" asp-action="EditAddress">

                    <div class="form-group">
                        <label>آدرس را وارد کنید</label>
                        <textarea id="EditAddressText" name="address" class="form-control addAddress"></textarea>
                    </div>

                    <br />
                    <button onclick="closeAddress()" type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت ادرس</button>
                </form>
            </div>

        </div>
    </div>
</div>