@using EModernHouse.DataLayer.Entities.Account
@using EModernHouse.Web.PresentationExtentions
@using EModernHouse.Application.Extensions
@model EModernHouse.DataLayer.DTOs.UserPanel.UserPanelIndexDTO
@{
    ViewData["Title"] = "داشبورد";
}



<main class="page-content" style="margin-top: 235.5px; transform: none;">
    <div class="container" style="transform: none;">
        <div class="row mb-5" style="transform: none;">
            <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                @await Component.InvokeAsync("UserSideBar")

            </div>
            <div class="col-lg-9 col-md-8">
                <div class="section-title mb-2">
                    @ViewData["Title"]
                </div>
                <div class="checkout-section shadow-around">
                    <div class="checkout-section-content">
                        <div class="row mx-0 pl-3 pr-3">
                            @if (Model.IsUserAddress)
                            {
                                <div class="col-md-12">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            آدرس
                                        </div>
                                        <div class="card-body">
                                            <p>استان : @Model.Manage.City.GetEnumName()</p>
                                            <h4 class="card-title">@Model.Manage.UserAddress</h4>
                                            <p class="card-text">مرسولات شما به این آدرس ارسال می شود (لطفا در ثبت ادرس دقت فرمایید مرسولات شما به این ادس ارسال می شود)</p>
                                            <br/>
                                            <a data-toggle="modal" data-target="#editmodal" class="btn btn-primary" editText="@Model.Manage.UserAddress">ویرایش آدرس</a>
                                        </div>

                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class=" col-md-12 alert alert-warning">
                                    <p>
                                        کاربرگرامی لطفا ادرس سکونت خود را برای ارسال مرسولات خود واد نمایید .
                                    </p>

                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        ثبت ادرس
                                    </button>
                                </div>
                            }


                        </div>
                        <div class="row mt-3 pl-4 pr-4">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">اطلاعات تماس</h5>
                                        <p class="card-text">@Model.Mobile</p>
                                        @if (Model.Email != null)
                                        {
                                            <p class="card-text">@Model.Email</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">کامنت های شما در سایت</h5>
                                        <p class="card-text">این ویژگی به زودی به سایت اضافه خواهد شد</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<!-- Modal for create address -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ثبت ادرس</h5>
                <button type="button" onclick="closeAddress()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="User" asp-controller="Home" asp-action="Manage">
                    <div class="alert">درحال حاضر امکان ارسال مرسولات به شهر یزد می باشد</div>
                    <div class="form-group">
                        <label>استان :</label>
                        <select class="form-control" asp-for="Manage.City" asp-items="@(Html.GetEnumSelectList<Cities>())"></select>
                    </div>

                    <div class="form-group">
                        <label>آدرس را وارد کنید</label>
                        <textarea  asp-for="Manage.UserAddress" class="form-control addAddress" placeholder="آدرس به صورت کامل نوشته شود هرگونه نقص در ادرس بر عهده کابر می باشد .."></textarea>
                    </div>

                    <br/>
                    <button onclick="closeAddress()" type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت ادرس</button>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- Modal for edit address -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodalLabel">ویرایش آدرس</h5>
                <button type="button" onclick="closeAddress()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="User" asp-controller="Home" asp-action="Manage">
                    <input type="hidden" asp-for="IsUserAddress"/>
                    <div class="form-group">
                        <label>آدرس را وارد کنید</label>
                        <textarea id="EditAddressText" asp-for="Manage.UserAddress" class="form-control addAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <label>استان خود را وارد کنید : </label>
                        <select class="form-control" asp-for="Manage.City" asp-items="@(Html.GetEnumSelectList<Cities>())"></select>
                    </div>
                    <br />
                    <button onclick="closeAddress()" type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت ادرس</button>
                </form>
            </div>

        </div>
    </div>
</div>