@using EModernHouse.Application.Utils
@using EModernHouse.DataLayer.DTOs.Order
@model EModernHouse.DataLayer.DTOs.Product.ProductDetailDTO
@{
    ViewData["Title"] = Model.Title;
    var firstProductLike = Model.RelatedProducts.FirstOrDefault();
}

@section scripts
{
    <partial name="_JqueryValidator"/>
    @if (Model.ProductColors != null && Model.ProductColors.Any())
    {
        var firstColor = Model.ProductColors.FirstOrDefault();
<script>
            $(document).ready(function() {
                changeProductBaseColor(@firstColor.Id, @firstColor.Price, "@firstColor.ColorName");
            });

</script>
    }

}

<main class="page-content" style="margin-top: 235.5px;">
    <div class="container">
        <div class="row">
            <partial name="_AddProductToCardPartial" model="@(new AddProductToOrderDTO{ProductId = Model.ProductId,Count = 1})" />
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <!-- breadcrumb -->
                <div class="breadcrumb mb-1">
                    <nav>
                        <a href="/product-archive">فروشگاه</a>
                        @foreach (var category in Model.ProductCategories)
                        {
                            <a>@category.Title</a>
                        }

                        <a href="/product-Detail/@Model.ProductId">@Model.Title</a>
                        @Model.Price.ToString("##,##")
                    </nav>
                </div>
                <!-- end breadcrumb -->
            </div>
        </div>
        <div class="product-detail shadow-around mb-5 py-5">
            <div class="row mb-3 mx-0">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="product-gallery">
                        <div class="swiper-container gallery-slider swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                <div class="swiper-slide swiper-slide-active" style="width: 415px;">
                                    <img src="@(PathExtensions.ProductImageOrigin + Model.ImageName)" data-zoom-image="@(PathExtensions.ProductImageOrigin + Model.ImageName)" class="zoom-image" alt="gallery item">
                                </div>
                                @if (Model.ProductGalleries.Any() && Model.ProductGalleries != null)
                                {
                                    @foreach (var gallery in Model.ProductGalleries)
                                    {
                                        <div class="swiper-slide swiper-slide-next" style="width: 415px;">
                                            <img src="/Content/Images/ProductGallery/Origin/@gallery.ImageName" data-zoom-image="@(PathExtensions.ProductGalleryImageOrigin + Model.ImageName)" class="zoom-image" alt="gallery item">
                                        </div>
                                    }
                                }

                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <div class="swiper-container gallery-slider-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-155.625px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active" style="width: 103.75px;">
                                    <img src="@(PathExtensions.ProductImageOrigin + Model.ImageName)" alt="gallery item">
                                </div>
                                @if (Model.ProductGalleries.Any() && Model.ProductGalleries != null)
                                {
                                    @foreach (var gallery in Model.ProductGalleries)
                                    {
                                        <div class="swiper-slide swiper-slide-next" style="width: 415px;">
                                            <img src="/Content/Images/ProductGallery/Thumb/@gallery.ImageName" data-zoom-image="@(PathExtensions.ProductGalleryImageOrigin + Model.ImageName)" class="zoom-image" alt="gallery item">
                                        </div>
                                    }
                                }
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                       
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-6">
                    <div class="product-title mb-3">
                        <h1>
                            @Model.Title
                        </h1>
                        <h1 class="product-title-en">
                            @Model.ShortDescription
                        </h1>
                    </div>

                    <div class="product-params-special">
                        <ul data-title="ویژگی‌های محصول">
                            @if (Model.ProductFeatures != null && Model.ProductFeatures.Any())
                            {


                                @foreach (var feature in Model.ProductFeatures.Take(3))
                                {
                                    <li>
                                        <span>@feature.FeatureTitle : </span>
                                        <span>@feature.FeatureValue</span>
                                    </li>
                                }

                            }
                            else
                            {
                                <div class="alert alert-warning">
                                    <p>برای این محصول ویژگی درج نشده است</p>
                                </div>
                            }
                        </ul>
                    </div>
                    <div class="alert alert-warning">
                        <div class="alert-body">
                            <p class="d-flex align-items-center">
                                <i class="fad fa-history ml-2"></i>
                                حداکثر تا 3 روز تحویل داده می شود.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box-info-product">
                        <input type="hidden" name="productPrice" value="@Model.Price" id="productBasePrice" />
                        @if (Model.ProductColors.Any() && Model.ProductColors != null)
                        {
                            <div class="product-colors mb-3">
                                <span class="d-block mb-3">رنگ:</span>
                                <div id="selectoptions-color" class="change-submit list-radio-color">
                                    @foreach (var color in Model.ProductColors)
                                    {
                                        <input type="radio" name="color" id="color-@color.Id" checked="" onclick="changeProductBaseColor(@color.Id,@color.Price, '@color.ColorName')">
                                        <label for="color-@color.Id">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span style="background-color: @color.ColorCode !important" class="color-span"></span>
                                                <span class="mr-2">@color.ColorName</span>
                                            </div>
                                        </label>
                                    }

                                </div>
                            </div>
                        }

                        <div class="d-block mb-3">
                            <span class="d-block">
                                تعداد:
                            </span>
                            <div class="num-block">
                                <div class="num-in">
                                    <span class="plus"></span>
                                    <input type="text" class="in-num" value="1" min="1" max="100" onchange="ChangeCountOfProduct(event)" readonly="">
                                    <span class="minus dis"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end mt-3">
                            <div class="product-price">
                                @*<div class="product-price-info">
                                        <div class="product-price-off">
                                            %10 <span>تخفیف</span>
                                        </div>
                                        <div class="product-price-prev">
                                            3,216,000
                                        </div>
                                    </div>*@
                                <div class="product-price-real">
                                    <div class="product-price-raw">
                                        @if (Model.ProductColors.Any() && Model.ProductColors != null)
                                        {
                                            var firstColor = Model.ProductColors.FirstOrDefault();
                                        <span>@((Model.Price + firstColor.Price).ToString("##,###")) تومان</span>;
                                            <span>(@firstColor.ColorName)</span>

                                        }
                                        else
                                        {
                                            @Model.Price.ToString("##,##")
                                            <span id="clearToman"> تومان</span>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="add-to-cart pointer" id="AddProductToCardSubmit">
                                افزودن به سبد خرید
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <div class="row mx-0">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="services pt-3 row mx-0">
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/delivery-person.png" alt="">
                        <div class="service-item-body">
                            <h6>تحویل سریع و رایگان </h6>
                            <p>تحویل رایگان کالا برای کلیه سفارشات بیش از یک میلیون تومان</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/recieve.png" alt="">
                        <div class="service-item-body">
                            <h6>۷ روز ضمانت بازگشت</h6>
                            <p>در صورت نارضایتی به هر دلیلی می توانید محصول را بازگردانید</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/headset.png" alt="">
                        <div class="service-item-body">
                            <h6>پشتیبانی ۲۴ ساعته</h6>
                            <p>در صورت وجود هرگونه سوال یا ابهامی، با ما در تماس باشید</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <div class="service-item">
                        <img src="/images/services/debit-card.png" alt="">
                        <div class="service-item-body">
                            <h6>پرداخت آنلاین ایمن</h6>
                            <p>محصولات مدنظر خود را با خیال آسوده به صورت آنلاین خریداری کنید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product-tab-content -->
        <div class="row mb-5">
            <div class="col-12">
                <div class="product-tab-content">
                    <ul class="nav nav-tabs" id="product-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="productDescription-tab" data-toggle="tab" href="#productDescription" role="tab" aria-controls="productDescription" aria-selected="true">توضیحات</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="productParams-tab" data-toggle="tab" href="#productParams" role="tab" aria-controls="productParams" aria-selected="false">مشخصات فنی</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="productComments-tab" data-toggle="tab" href="#productComments" role="tab" aria-controls="productComments" aria-selected="false">نظرات</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="product-tab">
                        <div class="tab-pane fade active show" id="productDescription" role="tabpanel" aria-labelledby="productDescription-tab">
                            <div class="product-desc">
                                <div class="accordion accordion-product" id="accordionDescription">

                                    @Html.Raw(Model.Description)

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="productParams" role="tabpanel" aria-labelledby="productParams-tab">
                            <div class="product-params">
                                <section>
                                    <h3 class="params-title">مشخصات کلی</h3>

                                    @if (Model.ProductFeatures != null && Model.ProductFeatures.Any())
                                    {
                                        <ul class="params-list">
                                            @foreach (var feature in Model.ProductFeatures)
                                            {
                                                <li>
                                                    <div class="params-list-key">
                                                        <span>@feature.FeatureTitle</span>
                                                    </div>
                                                    <div class="params-list-value">
                                                        <span>
                                                            @feature.FeatureValue
                                                        </span>
                                                    </div>
                                                </li>

                                            }


                                        </ul>
                                    }
                                    else
                                    {
                                        <div class=" alert alert-warning">
                                            <p>هیچ ویژگی برای این محصول ثبت نشده است</p>
                                        </div>
                                    }


                                </section>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="productComments" role="tabpanel" aria-labelledby="productComments-tab">
                            <!-- product-review -->
                            <div class="product-review-form mb-3">
                                <form action="#">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <div class="form-element-row">
                                                <label for="phone-number" class="label-element">
                                                    عنوان نظر شما
                                                    (اجباری)
                                                </label>
                                                <input type="text" class="input-element">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>امتیاز شما:</label>
                                                <div class="add-rating">
                                                    <input type="radio" name="rating" id="rating-1">
                                                    <label for="rating-1"></label>
                                                    <input type="radio" name="rating" id="rating-2">
                                                    <label for="rating-2"></label>
                                                    <input type="radio" name="rating" id="rating-3">
                                                    <label for="rating-3"></label>
                                                    <input type="radio" name="rating" id="rating-4">
                                                    <label for="rating-4"></label>
                                                    <input type="radio" name="rating" id="rating-5">
                                                    <label for="rating-5"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-element-row">
                                                <label for="phone-number" class="label-element">
                                                    ایمیل
                                                    شما
                                                </label>
                                                <input type="text" class="input-element">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-element-row">
                                                <label for="phone-number" class="label-element">نظر شما</label>
                                                <textarea name="comment" id="comment" cols="30" rows="10" class="input-element"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary px-3">ارسال نظر <i class="fad fa-comment-alt-edit"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="section-title mb-1 mt-4">
                                    نظرات کاربران (۵)
                                </div>
                                <hr>
                            </div>
                            <div class="comments-list">
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-info">
                                            <i class="fas fa-thumbs-up"></i> خرید این محصول را توصیه می‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #FFFFFF;"></span>سفید
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>راضیم</div>
                                        </div>
                                        <p>
                                            من ۳روز که خریدم و راضی هستم دوربینش خوبه فقط به نظرم باتری
                                            زود تموم میشه البته دائما هم باهاش کار میکنم ولی هر روز
                                            شارژش می‌کنم گوشیه خوش دستیه
                                        </p>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-info">
                                            <i class="fas fa-thumbs-up"></i> خرید این محصول را توصیه می‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #000000;"></span>مشکی
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>مدل 128 گیگ با رام 4 پیشنهاد میشه</div>
                                        </div>
                                        <p>
                                            سلام بعد از چند روز استفاده ازش راضی هستم و فکرشو نمیکردم به
                                            عنوان یه گوشی تقریبا میان رده راضیم کنه و تصورم یه گوشیه
                                            ضعیف بود.به عنوان کسی که زیاد با کامپیوتر و گوشی سر و کار
                                            داره و سرعت و امکانات براش مهمه کاملا توقعاتمو برآروده
                                            کرد.طراحی به روز و جذابی هم داره.رنگ مشکی 128 گیگ با رام 4
                                            رو گرفتم که زیبایی خاصی داره.از دیجیکالا هم تشکر میکنم که
                                            محصولو به موقع در تعطیلات به دستم رسوند و گارانتی و برگه
                                            نحوه رجستر کردن گوشی همراهش بود و بسته بندی خوبی
                                            داشت.دوستانی هم که میگفتن مشکل هنگ داره بنده مشاهده نکردم و
                                            قبل استفاده کاملا بروزرسانیش کردم اول.نکته آخر اینکه برای
                                            اینکه عمر باتری بیشتر باشه تو تنظیمات از حالت فست شارژ خارج
                                            کنید و استاندارد شارژ کنید بهتره و مواقع اضطراری از فست
                                            استفاده کنید و برای اولین بار بگذارید شارژ گوشی به پانزده
                                            درصد برسه و خالی بشه بعد بزنید به شارژ و ازش استفاده نکنید
                                            تا فول بشه و بعد استفاده کنید.گوشی های هوشمند نیازی به شارژ
                                            طولانی مدت ندارند.
                                        </p>
                                        <div class="comments-evaluation">
                                            <div class="comments-evaluation-positive">
                                                <span>نقاط قوت</span>
                                                <ul>
                                                    <li>
                                                        فینگر تاچ عالی نیست ولی رضایت بخشه.تاچ قوی داره
                                                    </li>
                                                    <li>
                                                        نور صفحه نمایش زیاد و کیفت صفحه نمایش قابل قبوله
                                                    </li>
                                                    <li>
                                                        سخت افزار مناسب و سرعت خوب
                                                    </li>
                                                    <li>
                                                        داشتن کاور ژله ای شفاف همراه گوشی و صدای واضح و
                                                        بلند
                                                    </li>
                                                    <li>میزان شارژ دهی مناسب و دوربین سلفی خوب</li>
                                                </ul>
                                            </div>

                                            <div class="comments-evaluation-negative">
                                                <span>نقاط ضعف</span>
                                                <ul>
                                                    <li>
                                                        نداشتن گلاس صفحه
                                                    </li>
                                                    <li>سیم شارژر خیلی کوتاهه</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-info">
                                            <i class="fas fa-thumbs-up"></i> خرید این محصول را توصیه می‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #FFFFFF;"></span>سفید
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>راضیم</div>
                                        </div>
                                        <p>
                                            من ۳روز که خریدم و راضی هستم دوربینش خوبه فقط به نظرم باتری
                                            زود تموم میشه البته دائما هم باهاش کار میکنم ولی هر روز
                                            شارژش می‌کنم گوشیه خوش دستیه
                                        </p>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-info">
                                            <i class="fas fa-thumbs-up"></i> خرید این محصول را توصیه می‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #FFFFFF;"></span>سفید
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>راضیم</div>
                                        </div>
                                        <p>
                                            من ۳روز که خریدم و راضی هستم دوربینش خوبه فقط به نظرم باتری
                                            زود تموم میشه البته دائما هم باهاش کار میکنم ولی هر روز
                                            شارژش می‌کنم گوشیه خوش دستیه
                                        </p>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-info">
                                            <i class="fas fa-thumbs-up"></i> خرید این محصول را توصیه می‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #FFFFFF;"></span>سفید
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>راضیم</div>
                                        </div>
                                        <p>
                                            من ۳روز که خریدم و راضی هستم دوربینش خوبه فقط به نظرم باتری
                                            زود تموم میشه البته دائما هم باهاش کار میکنم ولی هر روز
                                            شارژش می‌کنم گوشیه خوش دستیه
                                        </p>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-danger">
                                            <i class="fas fa-thumbs-down"></i> خرید این محصول را توصیه نمی‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #FFFFFF;"></span>سفید
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>راضیم</div>
                                        </div>
                                        <p>
                                            من ۳روز که خریدم و راضی هستم دوربینش خوبه فقط به نظرم باتری
                                            زود تموم میشه البته دائما هم باهاش کار میکنم ولی هر روز
                                            شارژش می‌کنم گوشیه خوش دستیه
                                        </p>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 aside">
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-name">
                                                    کاربر اینجانب
                                                </div>
                                                <div class="comments-buyer-badge">خریدار</div>
                                            </li>
                                            <li>
                                                <div class="cell">
                                                    در تاریخ ۷ فروردین ۱۳۹۹
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="alert alert-info">
                                            <i class="fas fa-thumbs-up"></i> خرید این محصول را توصیه می‌کنم
                                        </div>
                                        <ul class="comments-user-shopping">
                                            <li>
                                                <div class="cell cell-title">رنگ:</div>
                                                <div class="cell color-cell">
                                                    <span class="shopping-color-value" style="background-color: #FFFFFF;"></span>سفید
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell cell-title">فروشنده:</div>
                                                <div class="cell seller-cell">
                                                    <a href="#" class="border-bottom-dt">زندگیِ مدرن</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 article">
                                        <div class="header">
                                            <div>راضیم</div>
                                        </div>
                                        <p>
                                            من ۳روز که خریدم و راضی هستم دوربینش خوبه فقط به نظرم باتری
                                            زود تموم میشه البته دائما هم باهاش کار میکنم ولی هر روز
                                            شارژش می‌کنم گوشیه خوش دستیه
                                        </p>
                                        <div class="footer">
                                            <div class="comments-likes">
                                                آیا این نظر برایتان مفید بود؟
                                                <button class="btn-like" data-counter="۰">بله</button>
                                                <button class="btn-like" data-counter="۰">خیر</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end product-review -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product-tab-content -->
        @if (Model.RelatedProducts.Any() && Model.RelatedProducts != null)
        {
            <section class="product-carousel">
                <div class="section-title">
                    <i class="fad fa-retweet"></i>
                    پیشنهادهای مشابه
                </div>
                <div class="swiper-container slider-lg swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                    <div class="swiper-wrapper" style="transform: translate3d(224.333px, 0px, 0px); transition-duration: 0ms;">


                        @foreach (var likeProduct in Model.RelatedProducts)
                        {
                            <div class="swiper-slide swiper-slide-active" style="width: 214.333px; margin-left: 10px;">
                                <div class="product-card">
                                    <div class="product-card-top">
                                        <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@likeProduct.Id" asp-route-title="@likeProduct.Title.FixTextForUrl()" class="product-image">
                                            <img src="@(PathExtensions.ProductImageThumb+likeProduct.ImageName)" alt="@likeProduct.Title">
                                        </a>
                                        <div class="product-card-actions">
                                           

                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                
                                            </div>
                                        </div>
                                        <h6 class="product-name"> 
                                            <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@likeProduct.Id" asp-route-title="@likeProduct.Title.FixTextForUrl()" class="product-image">
                                                @Model.Title
                                            </a>
                                        </h6>
                                        <div class="product-price product-price-clone">@Model.Price.ToString("#,0 تومان")</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            @Model.Price.ToString("#,0 تومان")
                                        </div>
                                        <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@likeProduct.Id" asp-route-title="@likeProduct.Title.FixTextForUrl()" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            نمایش جزییات محصول
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </section>
        }
    </div>
</main>

