@using EModernHouse.Application.Utils
@model EModernHouse.DataLayer.Entities.ProductOrder.Order
@{
    ViewData["Title"] = "سبد خرید";
  
        var totalPrice = 0;
        if (Model.OrderDetails != null && Model.OrderDetails.Any())
        {
            foreach (var detail in Model.OrderDetails)
            {
                totalPrice = totalPrice + (detail.Count * (detail.Product.Price + detail.ProductColor.Price));
            }
        }
    
    }
}

<main class="page-content" style="margin-top: 235.5px; transform: none;">
    <div class="container" style="transform: none;">
        <div class="row mb-5" style="transform: none;">
            <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                @await Component.InvokeAsync("UserSideBar")

            </div>
            <div class="col-lg-9 col-md-8">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="section-title mb-2">
                            @ViewData["Title"]
                        </div>

                        <section class="table--order shadow-around mt-4">
                            <div class="table-responsive">
                                @if (Model.OrderDetails.Any() && Model.OrderDetails != null)
                                {
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>---</th>
                                            <th>عکس محصول </th>
                                            <th>نام محصول</th>
                                            <th>قیمت محصول</th>
                                            <th>رنگ محصول</th>
                                            <th>قیمت مضاف رنگ</th>
                                            <th>تعداد محصول</th>
                                            <th> درصد تخفیف</th>
                                            <th>جمع نهایی قیمت بدون تخفیف</th>
                                            <th>جمع نهایی قیمت با تخفیف</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var order in Model.OrderDetails)
                                        {
                                            var discount = order.Product.ProductDisCounts?.OrderByDescending(s=>s.CreateDate).FirstOrDefault(s=>s.ExpireDate>DateTime.Now);
                                            <tr>
                                                <td>
                                                    <a  DeleteItemInBag="@order.Id"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                                <td>
                                                    <img class="img-responsive" style="width: 60px; height: 40px"
                                                         title="@order.Product.Title" src="@(PathExtensions.ProductImageThumb + order.Product.ImageName)"/>
                                                </td>
                                                <td>@order.Product.Title</td>
                                                <td>@order.Product.Price</td>
                                                <td>@order.ProductColor.ColorName</td>
                                                <td>@order.ProductColor.Price</td>
                                                <td class="text-center">
                                                    <input class="text-center form-control pr-1 pl-1" type="number" min="1" value="@order.Count"/>
                                                </td>
                                                <td>
                                                    @if (discount != null)
                                                    {
                                                        @discount?.Percentage
                                                        <span>%</span>
                                                    }
                                                    else
                                                    {
                                                        <span> ندارد</span>
                                                    }

                                                </td>
                                                <td>@((order.Count * (order.Product.Price + order.ProductColor.Price)).ToString("#,0")) تومان</td>
                                                @if (discount != null)
                                                {
                                                    <td>@((order.Count * (order.Product.Price + order.ProductColor.Price) * discount.Percentage / 100).ToString("#,0")) تومان</td>
                                                }
                                                else
                                                {
                                                    <td>ندارد</td>
                                                }

                                            </tr>

                                        }
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </section>
                    </div>
                </div>
                <div class="row mt-3 checkout-section shadow-around">
                    <div class="col-lg-6 col-md-6">
                        
                        <div class="checkout-section-title">کد تخفیف</div>
                        <form action="#">
                            <div class="d-flex align-items-center">
                                <div class="form-element-row flex-grow-1">
                                    <input type="text" class="input-element" id="phone-number" placeholder="کد تخفیف را وارد کنید">
                                </div>
                                <div class="form-element-row mr-3">
                                    <button class="btn-element btn-info-element">
                                        <i class="fad fa-sync"></i>
                                        ثبت
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <span class="d-block text-center mb-3">
                            مبلغ کل:
                            <span class="total">@totalPrice.ToString("#,0") تومان</span>
                        </span>
                    </div>
                </div>
            </div>
         </div>
     </div>
</main>



