@using EModernHouse.DataLayer.Entities.Site
@using EModernHouse.DataLayer.Entities.Account
@using EModernHouse.Application.EntitiesExtensions
@using EModernHouse.Application.Utils
@using EModernHouse.DataLayer.Entities.Interest
@using EModernHouse.DataLayer.Entities.Product
@{
    var siteSetting = ViewBag.SiteSetting as SiteSetting;
    var user = ViewBag.user as User;
    var categories = ViewBag.Categories as List<ProductCategory>;
    var interestCount = ViewBag.interestCount as List<ProductInterest>;
}
<!-- Page Header -->
<header class="page-header">
    <div class="top-page-header">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="contact-list">
                    <ul>
                        <li><i class="fas fa-phone-rotary"></i><a href="tel: @siteSetting.Phone">@siteSetting.Phone</a></li>
                        <li><i class="fas fa-envelope"></i><a href="#">@siteSetting.Email</a></li>
                    </ul>
                </div>
                <div class="top-header-menu">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FollowUp">پیگیری سفارش</a></li>
                        <li><a href="/product-archive">فروشگاه</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bottom-page-header">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="@(PathExtensions.SiteLogoForShow+siteSetting.Logo)" alt="logo">
                    </a>
                </div>
                <div class="search-box">
                    <form action="#">
                        <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                        <i class="far fa-search"></i>
                    </form>
                    <div class="search-result">
                        <ul class="search-result-list">
                            <li><a href="#">موبایل</a></li>
                            <li><a href="#">سامسونگ</a></li>
                            <li><a href="#">مودم</a></li>
                            <li><a href="#">اپل</a></li>
                            <li><a href="#">تلویزیون</a></li>
                        </ul>
                        <ul class="search-result-most-view">
                            <li><a href="#">موبایل</a></li>
                            <li><a href="#">سامسونگ</a></li>
                            <li><a href="#">مودم</a></li>
                            <li><a href="#">اپل</a></li>
                            <li><a href="#">تلویزیون</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="user-items">
                <div class="user-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="User" asp-controller="Home" asp-action="FavoriteProduct">
                            <i class="fal fa-heart"></i>
                            <span class="bag-items-number">@interestCount.Count</span>
                        </a>
                    }
                    
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @await Component.InvokeAsync("UserOrder")
                }

                <div class="user-item account">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn-auth">
                            <i class="fal fa-user-circle"></i>
                            ورود و عضویت
                        </a>
                        <ul class="dropdown--wrapper">
                            <li>
                                <a asp-controller="Account" asp-action="Login" class="dropdown--btn-primary">وارد شوید</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Register" class="dropdown--btn-primary">ثبت نام</a>
                            </li>
                        </ul>

                    }
                    else
                    {
                        <a>
                            @user.GetUserShowName()
                            <i class="fad fa-chevron-down text-sm mr-1"></i>
                        </a>
                        <ul class="dropdown--wrapper">

                            <li>
                                <a asp-area="User" asp-controller="Home" asp-action="Index">
                                    ورود به حساب کاربری
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Account" asp-action="LogOut">
                                    خروج از حساب کاربری
                                </a>
                            </li>

                        </ul>
                    }


                </div>
            </div>
        </div>
        <nav class="nav-wrapper">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index"> صفحه اصلی</a>
                </li>

                @if (categories != null && categories.Any())
                {
                    @foreach (var mainGroup in categories.Where(s => s.ParentId == null))
                    {
                        <li class="category-list">
                            <a href="#">@mainGroup.Title</a>
                            <ul>
                                @if (categories.Any(s => s.ParentId == mainGroup.Id))
                                {
                                    @foreach (var FirstGroup in categories.Where(s => s.ParentId == mainGroup.Id))
                                    {
                                        <li>
                                            <a href="#">@FirstGroup.Title</a>
                                            <ul class="row" style="overflow-y: scroll">
                                                <li class="col-12">
                                                    <a href="#">همه دسته بندی های @FirstGroup.Title</a>
                                                    <ul class="row">

                                                        @foreach (var TwoGroup in categories.Where(s => s.ParentId == FirstGroup.Id))
                                                        {
                                                            <li class="col-4">
                                                                <a href="/product-archive/@TwoGroup.Id?categoryName=@TwoGroup.Title">@TwoGroup.Title</a>
                                                            </li>
                                                        }
                                                        <li class="col-12">
                                                            <a href="#" class="list-item--image my-3">
                                                                <img src="@(PathExtensions.CategoryImageImageOrigin + mainGroup.CategoryImage)" class="img-fluid rounded imageCategory" alt="@FirstGroup.Title">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                }

                            </ul>
                        </li>
                    }
                }

                <li>
                    <a asp-area="" asp-controller="Product" asp-action="Products"> فروشگاه</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="ContactUs"> تماس با ما</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Seller">فروشنده ما باشید</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- header responsive -->
<div class="header-responsive fixed--header-top">
    <div class="header-top">
        <div class="side-navigation-wrapper">
            <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>
            <div class="side-navigation">
                <div class="site-logo">
                    <a href="#">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="divider"></div>

                <ul class="category-list">
                    @if (categories != null && categories.Any())
                    {
                        @foreach (var MainCategory in categories.Where(s => s.ParentId == null))
                        {
                            <li class="has-children">
                                <a href="#" class="">@MainCategory.Title</a>
                                @if (categories.Any(s => s.ParentId == MainCategory.Id))
                                {
                                    <ul style="display: none;">
                                        @foreach (var FirstCategory in categories.Where(s => s.ParentId == MainCategory.Id))
                                        {
                                            <li class="has-children">
                                                <a href="#" class="">@FirstCategory.Title</a>
                                                @if (categories.Any(s => s.ParentId == FirstCategory.Id))
                                                {
                                                    <ul style="display: none;">
                                                        @foreach (var towCategory in categories.Where(s => s.ParentId == FirstCategory.Id))
                                                        {
                                                            <li><a href="product-archive/@towCategory.Id">@towCategory.Title</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }

                            </li>
                        }
                    }
                   
                </ul>
            </div>
            <div class="overlay-side-navigation"></div>
        </div>
        <div class="site-logo">
            <a href="#">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
      @if (User.Identity.IsAuthenticated)
      {
          @await Component.InvokeAsync("UserOrderResponsive")
      }
    </div>
    <div class="header-bottom">
        <div class="search-box">
            <form action="#">
                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                <i class="far fa-search"></i>
            </form>
            <div class="search-result">
                <ul class="search-result-list">
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">سامسونگ</a></li>
                    <li><a href="#">مودم</a></li>
                    <li><a href="#">اپل</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
                <ul class="search-result-most-view">
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">سامسونگ</a></li>
                    <li><a href="#">مودم</a></li>
                    <li><a href="#">اپل</a></li>
                    <li><a href="#">تلویزیون</a></li>
                </ul>
            </div>
        </div>
        <div class="header-tools">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="User" asp-controller="Home" asp-action="Index">حساب کاربری</a>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Login"><i class="far fa-user-circle"></i></a>
            }
           
        </div>
    </div>
</div>
<!-- end header responsive -->
<!-- end Page Header -->