
@using EModernHouse.Application.Utils
@using System.Collections.Specialized
@model Tuple<List<EModernHouse.DataLayer.Entities.Account.User>, int>
@{
    ViewData["Title"] = "لیست کاربران";
}

<div class="row">
    <div class="col-xs-3 col-md-3">
        <div class="well with-header">
            <div class="header bordered-sky">
                جست و جو کردن
            </div>
            <div class="row">

                <form id="FormFilterUSer" method="get" action="/Admin/user-list">
                    <input type="hidden" name="pageId" id="PageId" value="@ViewBag.pageId" />
                    <div class="col-md-12 col-sm-12">
                        <label>نام و نام خانوادگی</label>
                        <input name="name" class="form-control" value="@ViewBag.name" />
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>ایمیل</label>
                        <input name="email" class="form-control" value="@ViewBag.email" />
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>تلفن تماس</label>
                        <input name="mobile" class="form-control" value="@ViewBag.mobile" />
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>تعداد نمایش</label>
                        <input class="form-control" type="number" min="1" max="20" name="take" value="@ViewBag.take" />
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <br />
                        <button type="submit" class="btn btn-primary btn-block mt-4">جست و جو</button>
                    </div>

                </form>
            </div>
        </div>


    </div>
    <div class="col-xs-9 col-md-9">
        <div class="well with-header with-footer">
            <div class="header bordered-sky">
                @ViewData["Title"] ___
                نتیجه های یافت شده  @(Model.Item1.Count()*Model.Item2)
            </div>
            @if (Model.Item1 != null && Model.Item1.Any())
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                شناسه کاربر
                            </th>
                            <th>
                                اواتار
                            </th>
                            <th>
                                نام و نام خانوادگی
                            </th>
                            <th>
                                شماره موبایل
                            </th>
                            <th>
                                ایمیل
                            </th>
                            <th>
                                وضعیت کاربر
                            </th>
                            <th>
                                دستورات
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var user in Model.Item1)
                        {
                            <tr id="ajax-url-item-@user.Id">
                                <td>
                                    @user.Id
                                </td>
                                <td class="text-center">
                                    <img style="width: 80px;height: 80px" src="@(!string.IsNullOrEmpty(user.Avatar) ? PathExtensions.UserAvatarOrigin + user.Avatar : PathExtensions.DefaultAvatar)" />
                                </td>
                                <td>
                                    @user.FirstName @user.LastName
                                </td>
                                <td>
                                    @user.Mobile
                                </td>
                                <td>
                                    @(user.Email==null ? "ندارد" : $"{user.Email}")
                                </td>
                                <td class="@(user.IsMobileActive ? "success" : "danger")">
                                    @(user.IsMobileActive ? "فعال" : "غیر فعال")
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-controller="User" asp-action="EdtiUserForAdmin" asp-route-userId="@user.Id">ویرایش</a>
                                    <a class="btn btn-danger btn-sm" ajax-url-button="@user.Id" asp-area="Admin" asp-controller="User" asp-action="IsDeletedUser" asp-route-userId="@user.Id">حذف</a>
                                    <a class="btn btn-default btn-sm" ajax-url-button="@user.Id" asp-area="Admin" asp-controller="User" asp-action="IsBlockedUser" asp-route-userId="@user.Id">بلاک کردن</a>
                                    <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="User" asp-action="ToAdmin" asp-route-userId="@user.Id">تغییر سمت به ادمین</a>
                                </td>
                            </tr>

                        }




                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    <p>اطلاعاتی یافت نشد</p>
                </div>
            }
            <br />
            <div class="dataTables_paginate paging_bootstrap text-center" id="simpledatatable_paginate">
                <ul class="pagination">
                    @if (ViewBag.pageId > 1)
                    {
                        <li class="prev"><a onclick="SendPage(@(ViewBag.pageId-1))">قبل</a></li>
                        <li><a onclick="SendPage(@(ViewBag.pageId-1))">@(ViewBag.pageId-1)</a></li>
                    }

                    <li class="active"><a href="#">@ViewBag.pageId</a></li>

                    @if (Model.Item2 > ViewBag.pageId)
                    {
                        <li onclick="SendPage(@(ViewBag.pageId+1))"><a>@(ViewBag.pageId+1)</a></li>
                        <li class="next"><a onclick="SendPage(@(ViewBag.pageId+1))">بعد</a></li>
                    }
                </ul>
            </div>
        </div>


    </div>
</div>


@section script
{
    <script>
        function SendPage(pageId) {
            $("#PageId").val(pageId);
            $("#FormFilterUSer").submit();
        }

    </script>
}
